<agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
        <ng-container *ngFor="let lugar of lugares">
            <agm-marker [latitude]="lugar.lat" [longitude]="lugar.lng" [title]="lugar.nombre"></agm-marker>
        </ng-container>
</agm-map>
<hr/>
<!-- <div id="cuadrado" [@contenedorAnimable]='state' (@contenedorAnimable.start)='animacionInicia($event)' (@contenedorAnimable.done)='animacionTermina($event)'></div>
<div class="btn btn-default" (click)='animar()'>Animar!</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Lugares Cercanos</h2>
            <a  class="btn btn-primary" routerLink="/crear/new">Crear Nuevo Negocio</a>
            <ul class="list-group">
            <ng-container *ngFor="let lugar of lugares">
                <!--[queryParams]="{action:'view',referer:'google'}"-->
                    <li class="list-group-item" >
                        <a routerLink="/crear/{{lugar.id}}" ><h3>{{lugar.nombre}}</h3></a>  
                        <br />
                        <small>Creado: {{lugar.id | date:'mediumTime' | uppercase}}</small>
                        <br />
                        <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                    </li><!--*ngIf="lugar.active"-->
                 
            </ng-container>
            </ul>
        </div>  
        <div class="col-md-4" [@contenedorAnimable]='state'>
            <h2>Lugares Destacados</h2>
            <ng-container *ngFor="let lugar of lugares">
                    <!--[queryParams]="{action:'view',referer:'google'}"-->
                        <div class="bg-warning padding" *ngIf="lugar.plan == 'pagado'">
                            <a routerLink="/crear/{{lugar.id}}" ><h3>{{lugar.nombre}}</h3></a>  
                            <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                        </div><!--*ngIf="lugar.active"-->
                     
            </ng-container>
        </div>
    </div>
</div>